### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/temp/buffered.dat
/temp/data.dat
/temp/hello.dat
/temp/hello.txt
/temp/hello2.txt
/temp/members-data.dat
/temp/members-obj.dat
/temp/members-txt.dat
/temp/newExample.txt
/temp/print.txt
